/* RESET BÁSICO */
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  overflow-x: hidden;
  position: static;
  color: #fff;
  
}

@keyframes backgroundShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.App {
  position: relative;

  background: linear-gradient(120deg, #1a1a1a, #121212, #0d0d0d);
  background-size: 600% 600%;
  animation: backgroundShift 30s ease infinite;
  color: #e0e0e0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;      
  justify-content: flex-start;
  position: relative;
}

section {
  padding: 4rem 2rem;
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  transition: opacity 0.4s ease-in;
}

footer {
  text-align: center;
  padding: 2rem;
  font-size: 1.2rem;
  color: #888;
  border-top: 1px solid #524e4e;
  margin-top: 4rem;
  
}

footer::hover {
  background-color: aqua;
}


@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}





@media (max-width: 768px) {
  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  section {
    padding: 3rem 1.5rem;
  }
}



@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.linea-separadora {
  border: none;
  height: 1px;
  background: linear-gradient(to right, #8046c6, #9c27b0, #bb86fc);
  margin: 1rem auto;
  width: 70%;
  border-radius: 5px;
  opacity: 0.4;
  transition: all 0.3s ease-in-out;
}

.linea-separadora:hover {
  opacity: 1;
  width: 80%;
  height: 2px;
}
